[Desktop Entry]
Categories=Application;Development;
Comment[en_US]=Ghidra Software Reverse Engineering Suite
Comment=Ghidra Software Reverse Engineering Suite
Exec=/home/vagrant/Applications/ghidra_9.1.2_PUBLIC/ghidraRun
GenericName[en_US]=Ghidra Software Reverse Engineering Suite
GenericName=Ghidra Software Reverse Engineering Suite
Icon=/home/vagrant/Applications/ghidra_9.1.2_PUBLIC/ghidra.png
MimeType=
Name[en_US]=Ghidra 9
Name=Ghidra 9
Path=/home/vagrant/Applications/ghidra_9.1.2_PUBLIC/
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
